:root {
  --primColor1: #434455;
  --primColor2: #2e2f42;
  --primColor3: #ffffff;
  --primColor4: #4d5ae5;
  --primColor5: #f4f4fd;
  --primColor6: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page {
  font-family: "Roboto", sans-serif;
  background: var(--primColor3);
  color: var(--primColor1);
  min-width: 320px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
}
.site-header {
  background: var(--primColor3);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 72px;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--primColor4);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 77px;
}
.logo-studio {
  color: var(--primColor2);
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--primColor3);
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}
.mobile-menu-close:focus,
.mobile-menu-close:active {
  background: var(--primColor4);
}

.nav-tab {
  color: var(--primColor2);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-tab:hover,
.nav-tab:focus {
  color: var(--primColor4);
}
.current {
  position: relative;
  display: inline-block;
  color: var(--primColor4);
}
.current::after {
  display: block;
  background-color: var(--primColor4);
  position: absolute;
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  top: 44px;
}
.contact-way {
  color: var(--primColor1);
  text-decoration: none;
  font-weight: 400;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-way:hover,
.contact-way:focus {
  color: var(--primColor4);
}

.order-container {
  text-align: center;
}
.order {
  background-color: var(--primColor2);
  background-size: cover;
  background-position: center;
}
.order-title {
  color: var(--primColor3);
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  max-width: 492px;
  height: 120px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.order-button {
  background: var(--primColor4);
  color: var(--primColor3);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  cursor: pointer;
  display: block;
  letter-spacing: 0.04em;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: transparent;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.7);
  opacity: 1;
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.modal-close {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}
.modal-close:focus,
.modal-close:active {
  background: var(--primColor4);
}
.icon-vector:focus,
.icon-vector:active {
  fill: var(--primColor3);
}
.form {
  padding-top: 72px;
  padding-bottom: 24px;
  text-align: left;
}
.form-title {
  color: var(--primColor2);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-svg {
  position: absolute;
  top: 14px;
  left: 19px;
  fill: var(--primColor2);
}
.form-input:focus ~ .form-svg {
  fill: var(--primColor4);
}
.input-svg {
  position: relative;
  margin-top: 4px;
}
.form-input:focus {
  outline: 1px solid var(--primColor4);
  border: transparent;
}
.comment-field {
  margin-bottom: 16px;
}
.comment {
  resize: none;
  font-size: 12px;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:focus {
  outline: 1px solid var(--primColor4);
  border: transparent;
}
.policy-field {
  margin-bottom: 24px;
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  flex-shrink: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}
.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.checkbox-icon {
  display: block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.checkbox-input:checked + .checkbox-span {
  background-color: var(--primColor4);
  border: 1px solid var(--primColor4);
}
.policy-accept {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #757575;
  display: inline-flex;
}
.policy-link {
  color: var(--primColor4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.form-button {
  width: 170px;
  height: 51px;
  background: var(--primColor4);
  color: var(--primColor3);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  cursor: pointer;
  display: block;
  letter-spacing: 0.04em;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: transparent;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.quality-icon-div {
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: var(--primColor5);
  margin-bottom: 8px;
  border-radius: 4px;
}
.quality-icon {
  width: 64px;
  height: 64px;
}
.qualities-title {
  color: var(--primColor2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.qualities-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-two {
  color: var(--primColor2);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 120px;
}
.image-list {
  display: flex;
}
.image:not(:last-child) {
  margin-right: 24px;
}
.image {
  display: block;
}
.image-img {
  border: 1px solid #e7e9fc;
}
.team {
  background: var(--primColor5);
}
.title-team {
  color: var(--primColor2);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-members {
  align-items: center;
  margin-top: 72px;
}
.member {
  background: var(--primColor3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100%-72px) / 4);
}
.member-photo {
  display: block;
}
.name-position {
  padding: 32px;
  padding-bottom: 32px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
.name {
  color: var(--primColor2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.position {
  color: var(--primColor1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 12px;
}
.social-media-list {
  display: flex;
  height: 40px;
  gap: 24px;
}

.social-media-link {
  background-color: var(--primColor4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus,
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.title-customers {
  color: var(--primColor2);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 72px;
}

.company-link {
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  display: inline-flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-svg {
  fill: currentColor;
}
.company-link:hover,
.company-link:focus {
  color: var(--primColor4);
  border-color: var(--primColor4);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: var(--primColor4);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo-studio {
  color: var(--primColor5);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer {
  background: var(--primColor2);
}
.footer-description {
  color: var(--primColor6);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-top: 16px;
  width: 264px;
}

.footer-title {
  color: var(--primColor3);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  height: 40px;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primColor3);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  width: 168px;
  height: 40px;
  font-weight: 700;
  color: var(--primColor3);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.06em;
  flex-direction: row;
  padding: 8px 24px;
  background: var(--primColor4);
  border-radius: 4px;
  border-color: var(--primColor4);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* portfolio styles  */

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-button {
  color: var(--primColor4);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}
.filters-item:not(:last-child) {
  margin-right: 24px;
}
.filter-button:hover {
  background-color: var(--primColor4);
  color: var(--primColor3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio-item {
  position: relative;
  color: var(--primColor5);
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.box {
  position: relative;
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.overlay > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primColor5);
  background-color: var(--primColor4);
  padding: 40px 32px 164px 32px;
  margin: 0;
  font-size: 18px;
}
.card-text {
  border: 0.5px solid #f4f4fd;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.portfolio-title {
  color: var(--primColor2);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-filter {
  color: var(--primColor1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

/* Mobile  */

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }
  .header-container {
    max-width: 428px;
  }
  .logo {
    margin-right: auto;
  }
  .site-nav,
  .contact {
    display: none;
  }
  .mobile-menu-container {
    position: relative;
    margin: 0 auto;
    padding: 40px;
    max-width: 428px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .mobile-menu-button {
    background: transparent;
    border: none;
    line-height: 0;
    padding: 0;
    fill: var(--primColor2);
    cursor: pointer;
  }
  .mobile-menu .site-nav {
    display: block;
    margin-top: 40px;
    margin-bottom: auto;
    padding-bottom: 20px;
  }
  .mobile-menu .contact {
    display: block;
    margin-bottom: 48px;
  }
  .nav-tab {
    font-size: 36px;
    line-height: 1.1;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .contact-item:last-child {
    margin-left: 0;
  }
  .contact-item:first-child .contact-way {
    color: var(--primColor4);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.2;
  }
  .contact-item:first-child {
    margin-bottom: 40px;
  }
  .contact-item:last-child .contact-way {
    font-weight: 500;
    font-size: 20px;
  }
  .mobile-list {
    gap: 20px 56px;
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu-link {
    background-color: var(--primColor4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:active,
  .mobile-menu-link:focus {
    background-color: #31d0aa;
  }
  .order-container {
    padding-top: 112px;
    padding-bottom: 109px;
  }
  .order {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile-1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mobile-2.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mobile-3.jpg);
    }
  }
  .order-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    max-width: 318px;
    height: 80px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;
  }
  .form {
    padding-right: 14px;
    padding-left: 14px;
  }
  .modal {
    max-width: 392px;
  }
  .qualities-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .qualities-list {
    display: block;
    align-items: center;
    margin-bottom: 72px;
  }

  .quality-icon-div {
    display: none;
  }
  .quality-item:not(:last-child) {
    margin-bottom: 72px;
  }
  .qualities-title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
  }
  .qualities-description {
    font-weight: 500;
  }
  .title-two,
  .image-list {
    display: none;
  }
  .team-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .member {
    margin: 0 auto;
    width: 264px;
  }
  .member:not(:last-child) {
    margin-bottom: 72px;
  }
  .social-media-list {
    justify-content: center;
  }
  .name-position {
    padding-bottom: 36px;
  }
  .customers {
    padding: 96px 0;
  }
  .company-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    padding: 0 16px;
  }
  .company-item {
    flex-basis: calc((100% - 16px)/2)
  }
  .footer-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-left,
  .footer-middle {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    text-align: center;
    align-items: center;
  }
  .footer-description {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-list {
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    justify-content: center;
  }

  .div-footer-right {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }
  .footer-title {
    text-align: center;
  }
  .email {
    margin-right: 0;
    width: 100%;
    max-width: 396px;
    margin-bottom: 16px;
  }
  .subscribe-button {
    margin: 0 auto;
    display: inline-flex;
  }
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-container {
    width: 768px;
  }
  .order-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .order {
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet-1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-3.jpg);
    }
  }

  .mobile-menu-button {
    display: none;
  }

  .site-nav {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    display: flex;
  }
  .nav-item:not(:last-child) {
    margin-right: 24px;
  }
  .logo {
    margin-right: 124px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
  .contact-item:last-child {
    margin-left: 0;
    margin-top: 4px;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .modal {
    top: 96px;
    transform: translate(-50%);
  }
  .form {
    padding-right: 24px;
    padding-left: 24px;
  }
  .qualities-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .qualities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    column-gap: 24px;
    row-gap: 72px;
  }
  .quality-item {
    max-width: 356px;
    margin-bottom: 0;
  }
  .quality-icon-div {
    display: none;
  }

  .qualities-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
  }
  .qualities-description {
    font-weight: 500;
  }
  .title-two,
  .image-list {
    display: none;
  }
  .team-container {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-members {
    display: flex;
    align-items: center;
    margin-top: 72px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    column-gap: 24px;
    row-gap: 56px;
  }
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .company-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .company-item {
    flex-basis: calc((100% - 48px)/3);
    max-width: 168px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-left {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-middle {
    margin-right: 0;
  }
  .footer-list {
    gap: 16px;
  }
  .email {
    width: 264px;
    margin-right: 24px;
  }
  .div-footer-right {
    display: flex;
  }
  .subscribe-button {
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container {
    width: 1200px;
  }
  .contact {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
  }
  .contact-item:last-child {
    margin-left: 40px;
    margin-top: 0;
  }
  .order-container {
    padding-top: 192px;
    padding-bottom: 192px;
  }
  .order {
    max-width: 1440px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop-1.jpg);
    margin: 0 auto;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desktop-2.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .order {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desktop-3.jpg);
    }
  }
  .modal {
    top: 80px;
    transform: translate(-50%);
  }
  .qualities-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .qualities-list {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 120px;
    gap: 24px;
  }
  .quality-item {
    max-width: 264px;
  }
  .quality-icon-div {
    display: flex;
  }
  .qualities-title {
    font-size: 20px;
    line-height: 1.2;
  }
  .qualities-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
  .title-two {
    display: block;
  }
  .image-list {
    display: flex;
  }
  .team-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .member {
    max-width: 264px;
  }
  .customers {
    padding: 120px 15px;
  }
  .company-list {
    gap: 24px;
  }
  .company-item {
    flex-basis: calc((100% - 120px)/6)
  
}
  .footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-left {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-middle {
    margin-right: 80px;
    width: auto;
  }
  .footer-list {
    gap: 24px;
  }
  .email {
    width: 224px;
  }
}
